

.container-section-promo {
    display:flex;
    width: 100%;
    background-color: aqua;
    align-items: center;

}

.item-article {
    width: 30%;
    height: 100px;
    background-color: aqua;

}